<h4>Collection</h4>
<hr>
  <div class="card mb-2" style="width:100%; background-color: rgba(197, 197, 197, 0.2);">
    <div class="card-body">
        <div class="row justify-content-between">
            <div class="col-lg-6 d-flex align-items-center">
                <div class="form-check form-switch">
                    <input class="form-check-input" type="checkbox" id="flexSwitchCheckChecked" checked="">
                  </div>
              <h5>My note</h5>
            </div>
            <div class="col-lg-6 text-end">
                <button class="btn btn-danger px-4"><i class="bi bi-trash3"></i></button>
            </div>
          </div>
    </div>
  </div>
  <div class="card mb-2" style="width:100%; background-color: rgba(197, 197, 197, 0.2);">
    <div class="card-body">
        <div class="row justify-content-between">
            <div class="col-lg-6 d-flex align-items-center">
                <div class="form-check form-switch">
                    <input class="form-check-input" type="checkbox" id="flexSwitchCheckChecked" checked="">
                  </div>
              <h5>My note</h5>
            </div>
            <div class="col-lg-6 text-end">
                <button class="btn btn-danger px-4"><i class="bi bi-trash3"></i></button>
            </div>
          </div>
    </div>
  </div>
  
