<div class="menu_wrapper">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-9">
                <div class="card">
                    <div class="card-body">
                        <div class="d-flex justify-content-between align-items-center">
                            <h5>Menu</h5>
                            <button type="button" class="btn btn-outline-primary" (click)="onChangeMenuOpened()"><i class="material-icons md-24">close</i></button>
                        </div>
                        <hr>
                        <div class="d-flex flex-wrap gap-2 justify-content-center">
                            <button type="button" class="btn btn-outline-primary"><i class="material-icons md-48">delete_forever</i> <label class="d-block">function</label></button>
                            <button type="button" class="btn btn-outline-primary"><i class="material-icons md-48">delete_forever</i> <label class="d-block">function</label></button>
                            <button type="button" class="btn btn-outline-primary"><i class="material-icons md-48">account_circle</i> <label class="d-block">function</label></button>
                            <button type="button" class="btn btn-outline-primary" (click)="onLogOut()"><i class="material-icons md-48">logout</i> <label class="d-block">Log out</label></button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
