.card{
    background-color: rgba(197, 197, 197, 0.2);
}

.changable-background-onhover{
    width:100%;
    background-color: rgba(197, 197, 197, 0.2);
}

.changable-background-onhover:hover{
    background-color: rgba(255, 255, 255);
}