<div class="logout_modal_wrapper">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-7">
                <div class="card">
                    <div class="card-body">
                        <h5>Log out</h5>
                        <hr>
                        <p>Do you really wish to log out?</p>
                        <hr>
                        <div class="d-flex flex-wrap justify-content-center">
                            <button type="button" class="btn btn-success mx-2" (click)="logOut()">Log out</button>
                            <button type="button" class="btn btn-primary mx-2" (click)="onClose()">Cancel</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
