<div style="z-index:100">
    <div class="alert alert-dismissible alert-danger" (mouseenter)="onMouseEnter()" (mouseleave)="onMouseLeave()">
        <button type="button" class="btn-close" (click)="close()"></button>
        <ul>
            <li *ngFor="let error of errors">{{error}}</li>
        </ul>
        <div class="text-end">
            <label *ngIf="!isMouseIn">Close in: {{lifeTimeSecs}}</label>
            <label *ngIf="isMouseIn">Close me manually</label>
        </div>
      </div>
</div>
